services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama/ollama:/root/.ollama
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 10g
    restart: unless-stopped
    post_start:
      - command: ollama pull mistral:7b-instruct-q4_0

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - ./ollama/ollama-webui:/app/backend/data
    restart: unless-stopped
